.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: auto;
    margin-top: 150px;
    position: relative;
  }
  
  .hostels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px; 
  }
  
.hostel {
    box-shadow: 10px 10px rgb(195, 250, 181);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
  }

.hostel img{
    display: block;
    width: 300px;
    height: auto;
}
.overlay{
  background-color: rgba(247, 247, 247, 0);
  width: 300px;
  height: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
}
.overlay span{
  font-size: 20px;
  color: rgb(0, 1, 0);
  font-weight: 500;
  margin-top: 70px;
  opacity: 0%;
}
.hostel:hover .overlay{
  opacity: 100%;
  background-color: rgba(255, 255, 255, 0.727);
  
}
.hostel:hover .overlay span{
  opacity: 100%;
  cursor: pointer;
  
}