/* *{
    box-sizing: border-box;
} */
.floors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: center;
    padding: 5px;
    margin-top: 250px;
    gap: 10px;
}
.floor{
    border-radius: 10px;
}
.floor img{
   
    width: 500px;
    box-shadow: 10px 10px grey;
    border-radius: 10px;
    
    
}
.overlay{
    display: flex;
    flex-direction: column;
    top: 0;
    margin-top: 230px;
    align-items: center;
    position: absolute;
    opacity: 100%;
    width:500px;
    height: 350px;
}
.overlay span{
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 150px;
    opacity: 0%;

}
.floor:hover .overlay{
    opacity: 100%;
    background-color: rgba(249, 249, 249, 0.553);
}
.floor:hover .overlay span{
    cursor: pointer;
    opacity: 100%;
}
